#chat {
  padding: 48px calc(50% - 320px) 0 calc(50% - 320px);
  width: 640px;
  font-size: 26px;
  position: absolute;
  flex-flow: column;
  list-style: none;
}

#chat rt {
  font-size: 0.6em;
}

.voice-left, .voice-right, .voice-blank {
  margin: 1em 0.5em;
  border-radius: 1em;
  padding: 0.5em;
  clear: both;
  max-width: 18em;
}

.voice-left {
  border-top-left-radius: 0;
  float: left;
}

.voice-right {
  border-top-right-radius: 0;
  float: right;
}

.voice-blank {
  background: #fbfbfb;
  float: left;
}

.telephone {
  border: 2px solid #808080;
  border-radius: 0;
}

.description {
  margin: 0 0.75em;
  line-height: 1.75em;
  clear: both;
}

.next-chapter {
  padding-top: 9em;
  line-height: 3em;
  text-align: center;
  clear: both;
}

.next-chapter a {
  color: black;
  text-decoration: none;
  display: block;
  border-radius: 1.5em;
}

.next-chapter a.hover {
  background: hsl(0, 0%, 85%);
}

.grayed {
  color: #808080;
}

.stamp {
  border: 2px solid #808080;
  height: 320px;
  width: 320px;
  border-radius: 2em;
}

#chat hr {
  margin: 0 160px;
  border-bottom: 2px dashed #404040;
  height: 1px;
  width: 320px;
  clear: both;
}

#\30\31 {
  margin-bottom: 0;
  border-bottom: 0;
}

.section-index {
  margin-bottom: 4em;
  border-bottom: 2px solid #404040;
  padding-top: 4em;
  position: relative;
  clear: both;
}

.section-index span {
  left: 240px;
  padding-top: 1.9em;
  height: 1em;
  width: 160px;
  position: absolute;
  font-size: 1.5em;
  color: #404040;
  background: #fbfbfb;
  text-align: center;
  text-decoration: none;
}

#sns-hatebu, #sns-facebook, #sns-twitter, #sns-line {
  border-top: 2px solid #c0c0c0;
}

#menu-section {
  width: 640px;
  top: -1px;
  left: -120px;
  position: relative;
  visibility: hidden;
  opacity: 0;
  background: #808080;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  transition: all 0.2s ease-in;
}

#menu-center.hover #menu-section {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in;
}

#menu-section li {
  height: 2em;
  line-height: 2em;
  width: 106px;
}
