canvas {
  padding: 0 calc(50% - 320px);
  height: 100%;
  width: 640px;
  position: fixed;
  background-color: #fbfbfb;
  filter: blur(4px);
}

#chat {
  padding: 0 calc(50% - 320px);
  width: 640px;
  font-size: 24px;
  position: absolute;
  flex-flow: column;
  list-style: none;
}

#chat rt {
  font-size: 0.5em;
}

.voice-left, .voice-right, .voice-blank {
  margin: 1em 0.5em;
  border-radius: 1em;
  padding: 0.5em;
  clear: both;
}

.voice-left {
  margin-right: 2em;
  float: left;
}

.voice-right {
  margin-left: 2em;
  float: right;
}

.voice-blank {
  background-color: #fbfbfb;
  float: left;
}

.telephone {
  border: 2px solid #808080;
  border-radius: 0;
}

.description {
  margin: 0 1em;
  line-height: 1.75em;
  clear: both;
}

#chat hr {
  margin: 0 160px;
  border-bottom: 2px dashed #404040;
  height: 1px;
  width: 320px;
  clear: both;
}

.sectionIndex {
  margin-bottom: 3em;
  border-bottom: 2px solid #404040;
  padding-top: 3em;
  position: relative;
  clear: both;
}

.sectionIndex a {
  left: 240px;
  padding-top: 1.2em;
  width: 160px;
  position: absolute;
  font-size: 1.5em;
  color: #404040;
  background-color: #fbfbfb;
  text-align: center;
  text-decoration: none;
}

#sns {
  padding: 6em 0 1em 0;
}

#sns-hatebu, #sns-facebook, #sns-twitter, #sns-line {
  border-top: 2px solid #c0c0c0;
}

#menu {
  font-size: 24px;
}
