.char99 { background-color: hsla(0, 0%, 0%, 0); }

.char00 { background-color: hsl(  0,   0%, 85%); }
.char01 { background-color: hsl(180, 100%, 85%); }
.char02 { background-color: hsl( 30, 100%, 85%); }
.char03 { background-color: hsl( 60, 100%, 85%); }
.char04 { background-color: hsl(150, 100%, 85%); }
.char05 { background-color: hsl(330, 100%, 85%); }
.char06 { background-color: hsl(210,  50%, 85%); }
.char07 { background-color: hsl(  0, 100%, 85%); }
.char08 { background-color: hsl(255,  75%, 85%); }
.char09 { background-color: hsl( 90, 100%, 85%); }
.char10 { background-color: hsl( 15,  75%, 85%); }
.char11 { background-color: hsl(135,  50%, 85%); }
.char12 { background-color: hsl( 45,  75%, 85%); }
.char13 { background-color: hsl(330,  50%, 85%); }
.char14 { background-color: hsl(225,  75%, 85%); }
.char15 { background-color: hsl(270, 100%, 85%); }
