* {
  top: 0;
  left: 0;
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background: #fbfbfb;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

#sns {
  display: flex;
  flex-flow: row;
  list-style: none;
  clear: both;
}

#sns a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

#sns-hatebu, #sns-facebook, #sns-twitter, #sns-line {
  width: 160px;
  padding: 0.5em 0;
  font-size: 24px;
  height: 2em;
  line-height: 2em;
}

#sns-hatebu a {
  color: #00A4DE;
}

#sns-hatebu a:hover {
  background: #00A4DE;
  color: #fbfbfb;
}

#sns-facebook a {
  color: #4267B2;
}

#sns-facebook a:hover {
  background: #4267B2;
  color: #fbfbfb;
}

#sns-twitter a {
  color: #1B95E0;
}

#sns-twitter a:hover {
  background: #1B95E0;
  color: #fbfbfb;
}

#sns-line a {
  color: #00B900;
}

#sns-line a:hover {
  background: #00B900;
  color: #fbfbfb;
}

.icon-hatebu:before {
  content: "B!";
  font-family: Verdana;
  font-weight: bold;
}

.icon-line:before {
  content: "LINE";
  font-family: Meiryo, sans-serif;
  font-weight: bold;
}

#menu {
  height: 2em;
  line-height: 2em;
  padding: 0 calc(50% - 320px);
  width: 100%;
  font-size: 24px;
  position: fixed;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row;
  list-style: none;
}

#menu a {
  color: white;
  text-decoration: none;
  display: block;
}

#menu-left, #menu-right {
  width: 120px;
  background: #a0a0a0;
}

#menu-center {
  width: 400px;
  background: #808080;
}
