* {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

body {
  background: #fbfbfb;
  font-family: arial, メイリオ, "Mplus 1p", sans-serif;
  font-size: 20px;
}

#sns {
  padding: 3em 0 0 0;  
  display: flex;
  flex-flow: row;
  list-style: none;
  clear: both;
}

#sns a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

#sns-hatebu, #sns-facebook, #sns-twitter, #sns-line {
  width: 6em;
  padding: 0.5em 0;
  height: 3em;
  line-height: 3em;
}

#sns-hatebu a {
  color: #00A4DE;
}

#sns-hatebu a.hover {
  background: #00A4DE;
  color: #fbfbfb;
}

#sns-facebook a {
  color: #4267B2;
}

#sns-facebook a.hover {
  background: #4267B2;
  color: #fbfbfb;
}

#sns-twitter a {
  color: #1B95E0;
}

#sns-twitter a.hover {
  background: #1B95E0;
  color: #fbfbfb;
}

#sns-line a {
  color: #00B900;
}

#sns-line a.hover {
  background: #00B900;
  color: #fbfbfb;
}

.icon-hatebu:before {
  content: "B!";
  font-family: Verdana, sans-serif;
  font-weight: bold;
}

.icon-line:before {
  content: "LINE";
  font-family: Meiryo, sans-serif;
  font-weight: bold;
}

#banner {
  margin: 0 auto 1em auto;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  list-style: none;
  clear: both;
}

#banner a {
  height: 40px;
  width: 200px;
}

#menu {
  height: 3em;
  line-height: 3em;
  padding: 0 calc(50% - 12em);
  width: 100%;
  position: fixed;
  color: white;
  text-align: center;
  display: flex;
  flex-flow: row;
  list-style: none;
}

#menu a {
  color: white;
  text-decoration: none;
  display: block;
}

#menu-left, #menu-right {
  width: 5em;
  background: #a0a0a0;
}

#menu-left a.hover {
  color: black;
}

#menu-center {
  width: 14em;
  background: #808080;
  white-space: nowrap;
}
