#contents {
  padding: 72px calc(50% - 320px) 0 calc(50% - 320px);
  width: 640px;
  position: absolute;
  flex-flow: column;
  text-align: center;
}

.chapter {
  height: 3em;
  width: 100%;
  position: relative;
  font-size: 28px;
}

.chapter p {
  height: 3em;
  width: 100%;
  position: absolute;
}

.chapter a {
  height: 3em;
  line-height: 2em;
  color: black;
  text-decoration: none;
  display: block;
}

.badges {
  width: 100%;
  height: 1em;
  position: absolute;
  top: 1.75em;
  display: flex;
  justify-content: center;
}

.badge {
  margin: 4px;
  border: 2px solid #a0a0a0;
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.chapter.hover .badge {
  margin-left: 0;
  margin-right: 0;
  border: 0 solid #fbfbfb;
  width: 2em;
  border-radius: 0;
  filter: brightness(95%);
  transition: all 0.2s ease-in;
}

.extra {
  height: 4.2em;
  width: 100%;
  line-height: 4.2em;
  position: relative;
  font-size: 20px;
}

.extra p {
  width: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #fbfbfb, #fbfbfb, #fbfbfb, rgba(255, 255, 255, 0), #fbfbfb, #fbfbfb, #fbfbfb);
}

.extra a {
  color: black;
  text-decoration: none;
  display: block;
}

.interlude {
  background: linear-gradient(to right, #fbfbfb, hsl(30, 100%, 90%), hsl(30, 100%, 90%), hsl(30, 100%, 90%), #fbfbfb);
}

.epilogue {
  background: linear-gradient(to right, hsla(30, 100%, 90%, 0), hsl(120, 100%, 90%), hsl(210, 100%, 90%), hsl(300, 100%, 90%), hsla(30, 100%, 90%, 0));
}

hr {
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, #fbfbfb, #a0a0a0, #a0a0a0, #fbfbfb);
}

#sns {
  padding: 3em 0 1em 0;
}
